p
{
    color:rgba(0, 0, 0, 0.705);
}
li 
{
 color:rgba(255, 0, 0, 0.6);   
}
h1 {
    font-size: 40px;
    text-align: center;
  }
h2 {
    font-size: 30px;
    text-align: center;
  }
  html {
    background-color: rgba(255, 255, 255, 0.719);
  }
  
  p,
  li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 240px;
  }
  